{% extends 'bookclub_base.html' %}
{% load static %}

{% block title %}{{ book.title }}{% endblock %}

{% block header %}
    <h2>{{ book.title }}</h2>
{% endblock %}
{% block content %}
    <ul>
        <li><b>Genre: </b>{{ book.genre.name }}</li>
        <li><b>Author: </b>{{ book.author }}</li>
        <li><b>Year Published: </b>{{ book.publication_year }}</li>
        <li><b>Created on: </b>{{ book.created_on }}</li>
        <li><b>Updated on: </b>{{ book.updated_on }}</li>
    </ul>
{% endblock %}